.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
* {
    border: transparent 1px solid;
    border-radius: 0.15em;
}
body {
    font-family: 'Lora', serif;
    color: white;
    margin-left: 20px;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
    border: 0;
}
header {
    margin-top: 20px;
    background-color: #d66f00;
    width: 600px;
    height: 50px;
}
header h1 {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#instructions {
    margin-top: 10px;
    width: 600px;
    height: 200px;
    background-color: #f5cea5;
    color: green;
}
#instructions p {
    margin-left: 10px;
    margin-top: 10px;


}
#targetNumBox {
    float: left;
    background-color: #2fb67b;
    width: 295px;
    height: 100px;
    margin-top: 10px;
    margin-right: 10px;
}
#targetNumBox h4 {
    text-align: center;
    margin-top: 10px

}
#targetNum {
    position: relative;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#score{
    position: relative;
    float: left;
    background-color: #14e6e6;
    width: 295px;
    height: 100px;
    margin-top: 10px;
}
#wins {
    color: rgb(2, 100, 2);
    font-style: bold;
}
#losses {
    color: red;
    font-style: bold;
}
#score h5 {
    margin-top: 10px;
    margin-left: 10px;
}
#resultBox {
    position: absolute;
    top: 30%;
    left: 40%;
}
.gems {
    float:left;
    background-color: #fff5eb;
    width: 140px;
    height: 100px;
    margin-right: 13.3333px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 1rem;
    /* border: black 2px solid; */
}
.gems img {
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    mix-blend-mode: darken;
}
#totalScoreBox {
    background-color: #1daa9f;
    margin-top: 10px;
    width: 600px;
    height: 50px;
}
#totalScoreBox h2 {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#scoreTallyBox {
    background-color: #1daa9f;
    margin-top: 10px;
    width: 600px;
    height: 50px;
}
#scoreTally {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}